.destails-constainer{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.left{
    width:400px;
    
    margin: 30px;
}
.left img{
    width:100%
}
.right{
    width:600px;
    
}