.moviedirection{
    width:100%;
    background-color: black;
    height:auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    flex-wrap: wrap;
}